@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/freedesign001bitbit');

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: #F8F9D7; 
    
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #3572EF;
    font-family: 'Pokemon Hollow', sans-serif;
    font-size: 80px;
    box-sizing:content-box;

}

.subtitulo {
    font-family: 'FreeDesign001Bitbit', sans-serif;
    font-family: 'FreeDesign001Dotdot', sans-serif;
    font-size: 40px ;
    font-weight: 900px;
    color: #3D3B40;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 250px;
    height: 160px;
    background: #F6DCAC;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.9s;
    cursor: pointer; /* Cambia el cursor a una mano */
}

.tarjeta-de-mokepon:active, .btn-select-mascota:active {
    transform: scale(0.96); /* Disminuye ligeramente el tamaño */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2); /* Cambia la sombra */
}

.tarjeta-de-mokepon img {
    width: 125px;
}

.btn-select-mascota{
    width: 250px;
    height: 45px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid black;
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
    transition: transform 0.3s, box-shadow 0.9s;
    cursor: pointer; /* Cambia el cursor a una mano */
}

input {
    display: none;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.btn-de-ataque {
    background-color: #F6DCAC;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 120px;
    font-family: "Poppins", sans-serif; 
    font-weight:500;
}