@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: #F8F9D7; 
    
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #3572EF;
    font-family: 'Pokemon Hollow', sans-serif;
    font-size: 80px;
    box-sizing:content-box;

}

.subtitulo {
    font-family: "Fredoka", sans-serif;
    font-size: 40px ;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}



.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 250px;
    height: 160px;
    background: #FFBB70;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img {
    width: 140px;
}

input {
    display: none;
}

